.user-container {
    position: sticky;
    top: 0;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.user-img img{
    width: 80px;
    margin-right: 10px;
}
.user p {
    margin-top: -15px;
    padding-left: 5px;
}
.experience {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d3eed9;
    padding: 0 10px;
    border-radius: 15px;
    margin: 0 5px;
}






.add-break {
    margin: 20px 0;
}
.break-time {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d3eed9;
    border-radius: 10px;
    margin: 0 5px;
}
.break-time p {
    font-weight: bold;
    background-color: white;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.break-time p:hover {
    background-color: #78e08f;
    color: white;
}





.tour-details p {
    background-color: #d3eed9;
    margin: 15px 20px;
    padding: 5px 5px;
    border-radius: 15px;
}
.tour-time {
    margin-left: 40px;
    font-weight: bold;
}
.break-total {
    margin-left: 40px;
    font-weight: bold;
}
.btn-execute {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 80%;
    background-color: #b2f7c1;
    border: none;
    border-radius: 15px;
}
.btn-execute:hover {
    background-color: #78e08f;
    color: white;
    
}

