.tour-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}
.place-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 15px 20px 10px 20px;
    position: sticky;
    top: 0;
}
.main-header {
    margin: 20px 0 30px ;
}
.header-title {
    background-color: #eaffee;
    width: 40%;
    margin: 0 auto;
    padding: 10px 0;
    border: 3px outset #78e08f;
    border-radius: 10px;
    text-align: center;
}
.details-container {
    background-color:  #eaffee;
}

.questions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}


@media only screen and (max-width: 1200px) {
    .place-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 900px) {
    .place-container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}